{% extends "base.html" %} {% block content %}

<div class="section1" style="margin-top: 150px">
  <div class="parrafo">
    <h1>Los Discipulos de Adrian y Pablo</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque
      assumenda iure ea pariatur aspernatur iusto ut cupiditate, dicta quisquam!
      Fugit cumque vel officiis debitis repellat corporis ipsa aut quia. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque assumenda
      iure ea pariatur aspernatur iusto ut cupiditate, dicta quisquam! Fugit
      cumque vel officiis debitis repellat corporis ipsa aut quia. Lorem
      ipsumdolor sit amet consectetur adipisicing elit. Nostrum atque assumenda
      iurea pariatur aspernatur iusto ut cupiditate, dicta quisquam! Fugit
      cumque vel officiis debitis repellat corporis ipsa aut quia. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Nostrum atque assumenda iure
      ea pariatur aspernatur iusto ut cupiditate, dicta quisquam! Fugit cumque
      vel officiis debitis repellat corporis ipsa aut quia. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Nostrum atque assumenda iure ea
      pariatur aspernatur iusto ut cupiditate, dicta quisquam! Fugit cumque
      officiis debitis repellat corporis ipsa aut quia.
    </p>
  </div>
</div>

{% endblock %}
