{% extends 'base.html'%} {% load static %} {% block content %}

<div class="container-btn">
  <a class="neon-btn" href="#section">
    <span class="neon-text">
      INTELIGENCI<span class="faulty-letter">A <br /></span
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ARTIFICIAL
    </span>
  </a>
</div>

<div id="section" class="Contenedor">
  <div class="card1">
    <div class="face front">
      <img src="{% static "img/Home-1.jpg"%}" alt="">
      <h3>GPT</h3>
    </div>
    <div class="face back">
      <h3>GPT</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, unde in
        excepturi, fugit eum consequatur eligendi facilis, suscipit tempore fuga
        quidem rerum provident quam. Eligendi exercitationem nostrum non atque
        iusto?
      </p>
      <div class="link">
        <a href="#">Más información</a>
      </div>
    </div>
  </div>
  <div class="card1">
    <div class="face front">
      <img src="{% static "img/Home-2.jpg"%}" alt="">
      <h3>GPT</h3>
    </div>
    <div class="face back">
      <h3>AUTO GPT</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, unde in
        excepturi, fugit eum consequatur eligendi facilis, suscipit tempore fuga
        quidem rerum provident quam. Eligendi exercitationem nostrum non atque
        iusto?
      </p>
      <div class="link">
        <a href="#">Más información</a>
      </div>
    </div>
  </div>
  <div class="card1">
    <div class="face front">
      <img src="{% static "img/Home-3.jpg"%}" alt="">
      <h3>GPT</h3>
    </div>
    <div class="face back">
      <h3>EQUIPO</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, unde in
        excepturi, fugit eum consequatur eligendi facilis, suscipit tempore fuga
        quidem rerum provident quam. Eligendi exercitationem nostrum non atque
        iusto?
      </p>
      <div class="link">
        <a href="#">Más información</a>
      </div>
    </div>
  </div>
</div>

<div class="section1">
  <div class="parrafo">
    <h1>Inteligencia Artificial</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque
      assumenda iure ea pariatur aspernatur iusto ut cupiditate, dicta quisquam!
      Fugit cumque vel officiis debitis repellat corporis ipsa aut quia. Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Nostrum atque assumenda
      iure ea pariatur aspernatur iusto ut cupiditate, dicta quisquam! Fugit
      cumque vel officiis debitis repellat corporis ipsa aut quia. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Nostrum atque assumenda iure
      ea pariatur aspernatur iusto ut cupiditate, dicta quisquam! Fugit cumque
      vel officiis debitis repellat corporis ipsa aut quia. Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Nostrum atque assumenda iure ea
      pariatur aspernatur iusto ut cupiditate, dicta quisquam! Fugit cumque vel
      officiis debitis repellat corporis ipsa aut quia. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Nostrum atque assumenda iure ea
      pariatur aspernatur iusto ut cupiditate, dicta quisquam! Fugit cumque vel
      officiis debitis repellat corporis ipsa aut quia.
    </p>
  </div>
</div>

{% endblock %}
