{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/crear_post.css' %}">
{% endblock %}

{% block content %}
<div class="container" style="margin: 330px">
    <div class="post">
        <h1 style="color: white; text-align: center; font-style: italic">Editar Post</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
</div>
{% endblock %}