:root {
    --glow-color : #01fff4;
    --black : #1a1e23;
    --shadow : #ffffff50;
}

*,
*::after,
*::before {
    box-sizing:border-box;
}

html,
body {
    /* height: 100%;
    width: 100%; */
    background: #1a1e23;
    /* overflow: hidden; */
    
}
.container-btn {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
}

.neon-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1.2em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.8em;
    background: none;
    perspective: 2em;
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 1em;
    box-shadow: inset   0 0 0.5em 0 var(--glow-color),
                        0 0 0.5em 0 var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.neon-text {
    float: left;
    margin-right: -0.8em;
    text-shadow:  0 0 0.125em var(--shadow),
                  0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.neon-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    background: var(--glow-color);
    pointer-events: none;
    transform: translateY(120%) rotateX(90deg) scale(1, 0.35);
}
.neon-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    border-radius: 0.6em;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}
.neon-btn:hover {
    color: var(--black);
    text-shadow: none;
    animation: none;
}
.neon-btn:hover .neon-text {
    animation: none;
}
.neon-btn:hover::before {
    filter: blur(1.5em);
    opacity: 1;
}
.neon-btn:hover::after {
    opacity: 1;
}
.neon-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

@keyframes faulty-flicker{
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 0.1;
    }
    4% {
        opacity: 0.5;
    }
    21% {
        opacity: 0.1;
    }
    23% {
        opacity: 1;
    }
    80% {
        opacity: 0.5;
    }
    83% {
        opacity: 0.4;
    }
    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    8% {
        opacity: 0.1;
    }
    9% {
        opacity: 1;
    }
    12% {
        opacity: 0.1;
    }
    20% {
        opacity: 1;
    }
    25% {
        opacity: 0.3;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 0.3;
    }
    72% {
        opacity: 0.2;
    }
    77% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.9;
    }
}
@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }
    2% {
        opacity: 1;
    }
    4% {
        opacity: 0.1;
    }
    8% {
        opacity: 1;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.Contenedor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    background: #1a1e23;

}
.card1  {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: #1a1e23;
    margin: 20px;

    
}

.card1 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
    background-color: #1a1e23;
}

.card1 .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 2px 2px 2px #1a8580;
}

.card1 .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card1 .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}


.card1 .back {
    transform: perspective(600px) rotateY(180deg);
    background: #1a8580;
    padding: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #01fff4;
}

.card1 .back .link {
    border-top: solid 1px black;
    height: 50px;
    line-height: 50px;
}

.card1 .back .link a {
    color: black;
    
}

.card1 .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card1 .back p {
    letter-spacing: 1px;
}

.card1:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card1:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.section1 {
    background-color: #323b46;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 70%;
    margin: 15px auto;
    border-radius: 20px;
    box-shadow: 0 5px 10px #01fff4;
}

.parrafo {
    color: aliceblue;
}

.section1 {
    background-color: #323b46;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 10px #01fff4;
}

.section1 img {
    width: 50%;
    border: 2px solid black;
    box-shadow: 0px 5px 8px #01fff4 ;
    
}

.section1 p {
    margin-top: 0;
    
}