*{
    margin: 0;
    padding: 0;
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
    justify-content:center;
    align-items: center;
  }
  header.abajo{
    background: #05daed50;
    padding:15px 20px;
  }
  header .logo{
    position: relative;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1px;
    transition: 1.5;
    text-decoration: none;
    justify-content:center;
    align-items: center;
  }
  nav{
    display: flex;
    justify-content:center;
    align-items: center;
  }
  header ul{
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    color: black;
    font-family: helvetica;
    margin:0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
  }
  
  header ul li{
    list-style: none;
  }
  header ul li a{
    position: relative;
    justify-content: center;
    align-items:center;
    font-family: helvetica;
    margin:0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
  }
  
  
  header.abajo .logo,
  header.abajo ul li a{
    color: black;
  }
  
  